#about_text {
	width: auto;
	height: 50vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    text-align: center;
    font-size: 1.5vw;
    color: #2D3142;
}

#about_text_credits {
    width: auto;
	height: 50vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    text-align: center;
    font-size: 1.5vw;
    color: #2D3142;
}
