#logo {
	width: 222px;
	height: 207px;
	align: "left";
}

#topText {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 75px;
	color: #ffffff;
}

#calendar {
	width: 255px;
	height: 1060px;
	align: right;
}

#content {
	color: white;
}