/* Image carousel*/
#imageDisplay {
	margin-top: 1em;
	margin-left: 50vw;
	width: 47vw;
	height: 30em;
	position: relative;
}

#imageContainer {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	z-index: 0;
}

/* Arrows for moving to next photo*/
.arrow {
	width: 3em;
	height: 3em;
    background-color: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 100em; 
	-moz-border-radius: 100em; 
	border-radius: 100em;
	margin-top: -4em; 
	z-index: 5;
	position: absolute;
	margin: auto;
	bottom: 0;
	top: 0;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#rightArrow {
	right: 0;
}

#leftArrow {
	left: 0;
}

/*TODO: Make calendar much better */

.flipped {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

